<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>클래스 추가하기</h1>
<hr>

<form action="/classinput" method="POST">
    <table>
        <tr>
            <td><input type="text" name="name" placeholder="이름"></td>
        </tr>
        <tr>
            <td><input type="text" name="price" placeholder="가격"></td>
        </tr>
        <tr>
            <td><input type="text" name="thumbnail" placeholder="미리보기 사진"></td>
        </tr>
        <tr>
            <td><input type="number" name="category_id" placeholder="카테고리 id"></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>
</body>
</html>