<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>클래스 콘텐트 목록 추가하기</h1>
<hr>

<form action="/classcontentinput" method="POST">
    <table>
        <tr>
            <td><input type="number" name="step" placeholder="step"></td>
        </tr>
        <tr>
            <td><input type="text" name="name" placeholder="name"></td>
        </tr>
        <tr>
            <td><input type="text" name="subtitle" placeholder="subtitle"></td>
        </tr>
        <tr>
            <td><input type="number" name="class_id" placeholder="class_id"></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>
</body>
</html>